<%- include('layouts/top.ejs') %>

    <div class="container">

        <div id="wrapper" class="text-center p-4">

            <div class="btn-group mb-3">
                <input type="button" id="register" class="btn active reglog_buttons" value="Sign Up" />
                <input type="button" id="login" class="btn reglog_buttons" value="Login" />
            </div>

            <section id="login_section">
                <form action="./confirm.html" class="form text-center p-4">

                    <h2 class="mb-3">Welcome Back!</h2>

                    <span id="span" style="color: white;" class="form-control mb-2 bg-warning"></span>

                    <input type="text" id="username" class="form-control mb-3" placeholder="First Name" required />

                    <input type="password" id="password" class="form-control mb-3" placeholder="Password" required />

                    <input type="submit" id="submit_login" class="btn form-control p-1" value="Log In" />

                </form>
            </section>
        </div>

    </div>

    <%- include('layouts/bot.ejs') %>