body {
  background-color: #edf3f3;
  color: black;
}

.navbar {
  background-image: linear-gradient(#9b9b9b, #333);
  position: fixed;
  top: 0;
}

a {
  color: red;
  text-decoration: none;
}

.card-img-top {
  width: 50%;
}
